body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    box-sizing:border-box;
  }
  #navbar{
    background-color: rgb(12, 11, 12);
    padding:10px 20px;
      
    }
    .nav-content{
      display:flex;
      justify-content: space-between;
      align-items: center;
      position:fixed;
    }

  
  .nav-list{
    list-style: none;
    margin:0;
    padding:0;
    
  }
  .nav-list li{
    display:inline;
    margin-right:20px;
  }
  .nav-list:last-child{
    margin-right:0;
  }
  .nav-list li a{
    color:#fff;
    text-decoration: none;

  }
  @media screen and (max-width:600px){
    .nav-list{
      display:flex;
      flex-direction: column;
      padding-left: 20%;
    }
    .nav-content{
      justify-content: space-around;
    }
    
  }
.left-element{
  color:#fff;
}
  *{
    margin: 0;
    padding: 0;
  }
  .intro{
    max-width:100%;
    padding-left:5px;
    text-align:center;
    font-style:"times new roman";
    font-size:2rem;
    max-width:60%;
    
    
  }
  .about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width:100%;
    height:90vh;
    background-color: rgb(38, 153, 153);
    margin:auto;
    
  }
  .about .header{
    color:rgba(193, 251, 2, 0.881);
    
  }
  .about .web{
    color:rgb(174, 25, 25);
    
  }
  .work{
    text-align: center;
    padding:70px 10px;
    background-color: rgb(131, 131, 149);
    margin:auto;
  }
  .work h2{
   border-bottom:2px white solid;
   max-width:50%;
   text-align: center;
   margin: 0 auto 0 auto;
   color: white;
   margin-bottom:50px;
   margin-top:30px;
  }
  .project-list{
    margin-top:30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap:4rem;
    width:100%;
    max-width:80%;
    margin-left:5rem;
    margin:auto;
  }
  .project-image{
    max-width:100vw;
    width:100%;
    object-fit: cover;
    height:75%;
  }
  .project-tile{
    font-size:1.5rem;
    text-align:center;
    margin-top:5px;
    background-color:black;
    border:1px solid black;
    border-radius:10px;
  }
  .project{
    text-decoration:none;
    color:white;
  }
  .details{
    display: flex;
    background-color: brown;
    padding:30px 10px ;
    
  }
  .contact{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width:100%;

  }
  .links a{
    color:white;
    text-decoration: none;
  }
  .contact a{
    color:black;
    text-decoration: none;
  }
  .large-button {
      width: 100%; 
      height: 20px; 
      font-size: 16px; 
      padding:25px auto;
      text-align:center;
      background-color:lightblue;
      border:none;
      border-radius:10px; 
  }
 
